In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")

In [5]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

#Selecting Rows & Columns
##Selecting Columns

In [10]:
df["Actor"]        # Single column (as Series)

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [14]:
df["Actor"] [3]

'Ranbir Kapoor'

In [18]:
type(df["Actor"])

pandas.core.series.Series

In [20]:
df[["Film", "Year","IMDb"]]     # Multiple columns (as DataFrame)

                        Film  Year  IMDb
0                    Pathaan  2023   7.2
1            Tiger Zinda Hai  2017   6.0
2                     Dangal  2016   8.4
3                 Brahmastra  2022   5.6
4                  Padmaavat  2018   7.0
5                  Andhadhun  2018   8.3
6                      Stree  2018   7.5
7                        War  2019   6.5
8                 Good Newwz  2019   7.0
9          Bhool Bhulaiyaa 2  2022   5.9
10     Badrinath Ki Dulhania  2017   6.1
11  Uri: The Surgical Strike  2019   8.2

In [22]:
df#original dataset will be remain same

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

Selecting Rows by Index

In [83]:
df.loc[0]# First row (by label)

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [85]:
df.iloc[0]# First row (by position)

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

Select Specific Rows and Columns

In [30]:
df.loc[10,'Genre']# Value at row 10, column 'Genre'

'Romantic Comedy'

In [32]:
df.iloc[10,3]# Value at row 10, column at index 3

'Romantic Comedy'

In [34]:
 # Rows 0 to 2, selected columns
df.loc[0:2,["Actor","IMDb","Film"]]#Using loc last index inclusive

            Actor  IMDb             Film
0  Shah Rukh Khan   7.2          Pathaan
1     Salman Khan   6.0  Tiger Zinda Hai
2      Aamir Khan   8.4           Dangal

In [40]:
# Rows and cols by index position
df.iloc[0:2,0:2]#using iloc last index exclusive

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai

In [42]:
df.at[0,"Actor"]#For access a particular cell or element

'Shah Rukh Khan'

In [46]:
df.iat[0,0]

'Shah Rukh Khan'

Filtering with Conditions

In [50]:
df[df["IMDb"]>7]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [54]:
df[(df["IMDb"]>7) & (df['Year']>2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [56]:
df[(df["IMDb"]>7) | (df['Year']>2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [60]:
df.query("Year > 2019")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9

In [64]:
df.query("Year > 2018 and IMDb>6")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [72]:
df2 = df[["Actor","Film","IMDb"]]

In [74]:
df2

                 Actor                      Film  IMDb
0       Shah Rukh Khan                   Pathaan   7.2
1          Salman Khan           Tiger Zinda Hai   6.0
2           Aamir Khan                    Dangal   8.4
3        Ranbir Kapoor                Brahmastra   5.6
4        Ranveer Singh                 Padmaavat   7.0
5   Ayushmann Khurrana                 Andhadhun   8.3
6        Rajkummar Rao                     Stree   7.5
7       Hrithik Roshan                       War   6.5
8         Akshay Kumar                Good Newwz   7.0
9        Kartik Aaryan         Bhool Bhulaiyaa 2   5.9
10        Varun Dhawan     Badrinath Ki Dulhania   6.1
11       Vicky Kaushal  Uri: The Surgical Strike   8.2

In [76]:
df2.loc[0,"Actor"] = "Subh"

In [78]:
df2

                 Actor                      Film  IMDb
0                 Subh                   Pathaan   7.2
1          Salman Khan           Tiger Zinda Hai   6.0
2           Aamir Khan                    Dangal   8.4
3        Ranbir Kapoor                Brahmastra   5.6
4        Ranveer Singh                 Padmaavat   7.0
5   Ayushmann Khurrana                 Andhadhun   8.3
6        Rajkummar Rao                     Stree   7.5
7       Hrithik Roshan                       War   6.5
8         Akshay Kumar                Good Newwz   7.0
9        Kartik Aaryan         Bhool Bhulaiyaa 2   5.9
10        Varun Dhawan     Badrinath Ki Dulhania   6.1
11       Vicky Kaushal  Uri: The Surgical Strike   8.2

In [80]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2