In [1]:
import pandas as pd

Series — 1D Labeled Array

In [5]:

s1=pd.Series([71,84,56,23,56,98,56])

In [7]:
print(s1)

0    71
1    84
2    56
3    23
4    56
5    98
6    56
dtype: int64

In [9]:
type(s1)

pandas.core.series.Series

You can also define custom index:

In [11]:
s2 = pd.Series([71,84,56,23,56,98,56],index=["Subh","Akash","Rohan","Kriti","John","Bob","Pradip"])

In [13]:
s2

Subh      71
Akash     84
Rohan     56
Kriti     23
John      56
Bob       98
Pradip    56
dtype: int64

In [21]:
s2["Kriti"]

23

In [26]:
s2["Subh"]

71

DataFrame — 2D Labeled Table

In [55]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)

In [57]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [47]:
df.index# Row labels

RangeIndex(start=0, stop=3, step=1)

In [49]:
df.columns# Column labels

Index(['name', 'age', 'city'], dtype='object')

In [51]:
df.index = ["a", "b", "c"]
df.columns = ["Name", "Age", "City"]

In [53]:
df

      Name  Age       City
a    Alice   25      Delhi
b      Bob   30     Mumbai
c  Charlie   35  Bangalore