In [1]:
import pandas as pd

From Python Lists

In [3]:
data = [["subh",34],['jack',67],['jacob',76],['subham',67]]

In [5]:
data

[['subh', 34], ['jack', 67], ['jacob', 76], ['subham', 67]]

In [11]:
df=pd.DataFrame(data,columns=['Name','Marks'])
df

     Name  Marks
0    subh     34
1    jack     67
2   jacob     76
3  subham     67

From Dictionary of Lists

In [21]:
data2 = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}

df1 = pd.DataFrame(data2)
df1

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

From NumPy Arrays

In [28]:
import numpy as np
arr = np.array([[1, 2], [3, 4]])
df2 = pd.DataFrame(arr, columns=["A", "B"])
df2

   A  B
0  1  2
1  3  4

From CSV Files

In [31]:
df3 = pd.read_csv("data.csv")

In [33]:
df3

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [35]:
pd.read_csv("data.csv", usecols=["Name", "Age"])

ValueError: Usecols do not match columns, columns expected but not found: ['Name', 'Age']